<div class="col-xs-12">
  <h3>ダッシュボード</h3>
  <div class="row">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <h4>ランキング</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>名前</th>
              <th>順位</th>
            </tr>
          </thead>
          <tbody>
            <% @score_list.each do |s| %>
              <tr>
                <td><%=s[0]%></td>
                <td><%=s[1]%> pt</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-md-10" id="graph_area">
        <h4>順位変動</h4>
        <%= render 'ranking_graph' %>
      </div>
    </div>
  </div>
</div>
