
<%
  users = User.order("account ASC")
  option_users = Hash.new
  option_users.store('（自分を選んでください）', '')
  users.each do |u|
    option_users.store(u.user_info.name, u.account)
  end
%>
  <div class="col-md-6 col-md-offset-6" style="color:#FFFFFF; margin-top:-50px;">
    <h1>SHOOT-Q</h1>
    <h2>Sanei 2014 FIFA World Cup</h2>
    <h4>〜 絶対に負けられない戦いが、そこにはある 〜</h4>
  </div>

  <div class="col-md-3 col-md-offset-7" style="margin-top:40px;">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.select :account, option_users, { }, :class => "form-control" %>
        <%= f.hidden_field :password, :value => "aaaaaaaa" %>
      </div>
      <br/>
      <div align="right">
        <%= f.submit "Sign in", :class => 'btn btn-info' %>
      </div>
    <% end %>
  </div>

